.logo-container {
  margin-top: 30px;
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  fa-icon {
    font-size: 13px;
    margin-right: 5px;

    color: #a8a8b3 !important;
  }

  a {
    color: #a8a8b3;
    font-weight: 700;
  }
}

.main-info-container {
  display: flex;
  align-items: center;

  img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  > div {
    display: flex;
    flex-direction: column;

    margin-left: 30px;

    p {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    span {
      font-size: 20px;
      color: #737380;
    }
  }
}

.secondary-info-container {
  margin: 40px 0 80px 0;

  display: flex;

  > div {
    &:not(:last-of-type) {
      margin-right: 80px;
    }

    h3 {
      font-size: 36px;
      font-weight: 700;
    }

    p {
      font-size: 20px;
      color: #6c6c80;
      margin-top: 5px;
    }
  }
}

.issue-item {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  min-height: 80px;
  transition: 0.3s;
  color: #a8a8b3;
  cursor: pointer;

  & + .issue-item {
    margin-top: 16px;
  }

  &:hover {
    transform: translateX(15px);
  }

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 15px;

    p {
      font-size: 24px;
      font-weight: 700;
      color: #3d3d4d;
    }

    span {
      display: block;
      margin-top: 5px;
    }
  }
}
