<div class="logo-container">
  <img src="../../assets/images/logo.svg" />
  <a routerLink="/"><fa-icon [icon]="faChevronLeft"></fa-icon> Voltar</a>
</div>

<ng-container *ngIf="repository">
  <div class="main-info-container">
    <img [src]="repository.owner.avatar_url" [alt]="repository.owner.login" />
    <div>
      <p>{{ repository.full_name }}</p>
      <span>{{ repository.description }}</span>
    </div>
  </div>

  <div class="secondary-info-container">
    <div>
      <h3>{{ repository.stargazers_count }}</h3>
      <p>Stars</p>
    </div>
    <div>
      <h3>{{ repository.forks_count }}</h3>
      <p>Forks</p>
    </div>
    <div>
      <h3>{{ repository.open_issues_count }}</h3>
      <p>Issue abertas</p>
    </div>
  </div>

  <ng-container *ngFor="let issue of issues">
    <a class="issue-item" [href]="issue.html_url" target="_blank">
      <div>
        <p>{{ issue.title }}</p>
        <span>{{ issue.user.login }}</span>
      </div>
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </a>
  </ng-container>
  <p *ngIf="!issues?.length">Carregando issues...</p>
</ng-container>
