<img class="logo" src="../../assets/images/logo.svg" />

<h1 class="main-title">Explore repositórios no Github.</h1>

<div class="search-container">
  <input
    placeholder="Digite aqui"
    [formControl]="inputControl"
    [class.has-error]="errors"
  />
  <button type="button" (click)="onSearch()">Pesquisar</button>
</div>
<span class="error-text">{{ errors }}</span>

<a
  class="repository-item"
  *ngFor="let repository of repositories"
  [routerLink]="'repository/' + repository.full_name"
>
  <img [src]="repository.owner.avatar_url" [alt]="repository.owner.login" />
  <div>
    <p>{{ repository.full_name }}</p>
    <span>{{ repository.description }}</span>
  </div>
  <fa-icon [icon]="faChevronRight"></fa-icon>
</a>
