/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
  color: #3a3a3a;
}

body {
  min-height: 100vh;
  background: #f2f2fa;
  background-repeat: no-repeat;
  background-position: center top;
  background-position-x: calc(50% + 245px);
  background-image: url(./assets/images/github.svg);

  display: flex;
  justify-content: center;
}

app-root {
  max-width: 960px;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
